name: devnet-genesis

services:
  create-beacon-chain-genesis:
    image: "ghcr.io/islishude/eth-genesis-generator:main"
    command:
      - --fork=fulu
      - --num-validators=64
      - --genesis-time-delay=5
      - --chain-config-file=/config/config.yml
      - --geth-genesis-json-in=/config/genesis.json
      - --geth-genesis-json-out=/geth/genesis.json
      - --output-ssz=/prysm/genesis.ssz
    volumes:
      - ./data/geth:/geth
      - ./data/prysm:/prysm
      - ./config:/config:ro

  init-geth-genesis:
    image: "ethereum/client-go:v1.16.7"
    command: init --cache.preimages=true --state.scheme=hash --datadir /geth /geth/genesis.json
    volumes:
      - ./data/geth:/geth
    depends_on:
      create-beacon-chain-genesis:
        condition: service_completed_successfully
