name: devnet

services:
  geth:
    image: "ethereum/client-go:v1.16.7"
    command:
      - --networkid=48815
      - --nodiscover
      - --miner.recommit=1s
      - --gcmode=archive
      - --state.scheme=hash
      - --http
      - --http.api=eth,net,web3,debug,txpool
      - --http.addr=0.0.0.0
      - --http.corsdomain=*
      - --http.vhosts=*
      - --ws
      - --ws.api=eth,net,web3,debug,txpool
      - --ws.addr=0.0.0.0
      - --ws.origins=*
    ports:
      - 8545:8545
      - 8546:8546
    volumes:
      - ./data/geth:/root/.ethereum
    logging:
      driver: "local"

  prysm:
    image: "gcr.io/prysmaticlabs/prysm/beacon-chain:v7.1.1"
    command:
      - --datadir=/prysm/beacon
      - --disable-monitoring
      - --min-sync-peers=0
      - --genesis-state=/prysm/genesis.ssz
      - --interop-eth1data-votes
      - --chain-config-file=/config/config.yml
      - --contract-deployment-block=0
      - --chain-id=48815
      - --execution-endpoint=/geth/geth.ipc
      - --accept-terms-of-use
      - --suggested-fee-recipient=0xf39Fd6e51aad88F6F4ce6aB8827279cffFb92266
      - --minimum-peers-per-subnet=0
      - --http-host=0.0.0.0
      - --http-port=3500
      - --http-cors-domain=*
      - --rpc-host=0.0.0.0
      - --rpc-port=4000
    ports:
      - 3500:3500
    depends_on:
      geth:
        condition: service_started
    volumes:
      - ./data/prysm:/prysm
      - ./data/geth:/geth
      - ./config/config.yml:/config/config.yml:ro
    logging:
      driver: "local"

  validator:
    image: "gcr.io/prysmaticlabs/prysm/validator:v7.1.1"
    command:
      - --beacon-rpc-provider=prysm:4000
      - --datadir=/prysm/validator
      - --accept-terms-of-use
      - --interop-num-validators=64
      - --interop-start-index=0
      - --chain-config-file=/config/config.yml
    depends_on:
      prysm:
        condition: service_started
    volumes:
      - ./data/prysm:/prysm
      - ./config/config.yml:/config/config.yml:ro
    logging:
      driver: "local"
